In [1]:
import pandas as pd

data = pd.read_csv('data/x_train_gr_smpl.csv')
labels = pd.read_csv('data/y_train_smpl.csv')

data['label'] = labels
data = data.sample(frac=1)

data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,label
9573,117.0,116.0,136.0,138.0,139.0,141.0,137.0,123.0,121.0,113.0,...,50.0,50.0,58.0,61.0,66.0,70.0,74.0,81.0,79.0,6
116,20.0,21.0,24.0,32.0,56.0,84.0,111.0,131.0,137.0,136.0,...,19.0,19.0,20.0,20.0,19.0,19.0,19.0,19.0,20.0,0
8573,14.0,14.0,14.0,14.0,15.0,26.0,26.0,17.0,14.0,14.0,...,205.0,119.0,110.0,67.0,41.0,93.0,56.0,50.0,40.0,5
10246,33.0,31.0,31.0,32.0,34.0,38.0,40.0,43.0,47.0,51.0,...,28.0,26.0,26.0,27.0,28.0,28.0,29.0,31.0,30.0,7
2627,67.0,64.0,67.0,76.0,86.0,75.0,63.0,57.0,64.0,51.0,...,80.0,78.0,75.0,74.0,74.0,75.0,75.0,76.0,77.0,1

In [2]:
from sklearn.model_selection import train_test_split

X = data.iloc[:, :-1]
y = data['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

del data
del X
del y

In [3]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, classification_report
gnb = GaussianNB()

y_pred = gnb.fit(X_train, y_train).predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.27      0.14      0.18       463
           1       0.25      0.22      0.23       601
           2       0.09      0.83      0.16       134
           3       0.78      0.39      0.52       430
           4       0.77      0.20      0.32       709
           5       0.51      0.44      0.47       683
           6       0.39      0.60      0.47       274
           7       0.10      0.53      0.17        86
           8       0.69      0.11      0.20       710
           9       0.18      0.30      0.22        88

    accuracy                           0.30      4178
   macro avg       0.40      0.38      0.29      4178
weighted avg       0.51      0.30      0.32      4178

In [1]:
import pandas as pd

data = pd.read_csv('data/x_train_gr_smpl.csv')
labels = pd.read_csv('data/y_train_smpl_0.csv')

data['label'] = labels
data = data.sample(frac=1)

corr = data.corr()
result = abs(corr['label']).sort_values(by=['label', ascending=False])[:10]

              0         1         2         3         4         5         6  \
0      1.000000  0.981468  0.954511  0.929792  0.909988  0.893766  0.881036
1      0.981468  1.000000  0.981160  0.951932  0.928304  0.908454  0.893912
2      0.954511  0.981160  1.000000  0.980427  0.951892  0.929362  0.910234
3      0.929792  0.951932  0.980427  1.000000  0.981069  0.954545  0.930721
4      0.909988  0.928304  0.951892  0.981069  1.000000  0.981616  0.954315
...         ...       ...       ...       ...       ...       ...       ...
2300   0.440859  0.438725  0.438334  0.441506  0.440071  0.441430  0.442738
2301   0.440131  0.437303  0.436552  0.439701  0.438949  0.440354  0.440922
2302   0.439348  0.436397  0.435658  0.438698  0.437888  0.438899  0.439078
2303   0.434383  0.432415  0.432540  0.432265  0.430896  0.433020  0.433255
label -0.041803 -0.041223 -0.040658 -0.040132 -0.038294 -0.037030 -0.033264

              7         8         9  ...      2295      2296      2297  \
0      0.870069  0.859920  0.848270  ...  0.427085  0.426732  0.425135
1      0.878816  0.866126  0.853488  ...  0.424650  0.423935  0.423620
2      0.893057  0.878689  0.864427  ...  0.424954  0.423916  0.422949
3      0.911332  0.894369  0.877986  ...  0.426936  0.424830  0.423299
4      0.931110  0.909950  0.891257  ...  0.428297  0.426254  0.423797
...         ...       ...       ...  ...       ...       ...       ...
2300   0.442608  0.444692  0.443616  ...  0.823901  0.856005  0.885581
2301   0.440328  0.443121  0.442642  ...  0.798468  0.828862  0.854386
2302   0.438549  0.440433  0.439829  ...  0.779830  0.808183  0.829269
2303   0.431817  0.432983  0.432594  ...  0.760481  0.787188  0.805895
label -0.029139 -0.026380 -0.023689  ...  0.084202  0.084198  0.080320

           2298      2299      2300      2301      2302      2303     label
0      0.431002  0.439117  0.440859  0.440131  0.439348  0.434383 -0.041803
1      0.429131  0.437132  0.438725  0.437303  0.436397  0.432415 -0.041223
2      0.428472  0.436704  0.438334  0.436552  0.435658  0.432540 -0.040658
3      0.429689  0.438791  0.441506  0.439701  0.438698  0.432265 -0.040132
4      0.429282  0.437510  0.440071  0.438949  0.437888  0.430896 -0.038294
...         ...       ...       ...       ...       ...       ...       ...
2300   0.927253  0.973415  1.000000  0.974255  0.929712  0.894003  0.063798
2301   0.889931  0.931378  0.974255  1.000000  0.969740  0.929975  0.064335
2302   0.858612  0.893112  0.929712  0.969740  1.000000  0.974462  0.065523
2303   0.831444  0.861317  0.894003  0.929975  0.974462  1.000000  0.066055
label  0.072366  0.067927  0.063798  0.064335  0.065523  0.066055  1.000000

[2305 rows x 2305 columns]

In [2]:
data['label'].head(5)

6560     1
12396    1
6762     1
11222    1
2266     1
Name: label, dtype: int64