In [1]:
import pandas as pd

data = pd.read_csv('data/x_train_gr_smpl.csv')
labels = pd.read_csv('data/y_train_smpl.csv')

data['label'] = labels
data = data.sample(frac=1)

data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,label
9573,117.0,116.0,136.0,138.0,139.0,141.0,137.0,123.0,121.0,113.0,...,50.0,50.0,58.0,61.0,66.0,70.0,74.0,81.0,79.0,6
116,20.0,21.0,24.0,32.0,56.0,84.0,111.0,131.0,137.0,136.0,...,19.0,19.0,20.0,20.0,19.0,19.0,19.0,19.0,20.0,0
8573,14.0,14.0,14.0,14.0,15.0,26.0,26.0,17.0,14.0,14.0,...,205.0,119.0,110.0,67.0,41.0,93.0,56.0,50.0,40.0,5
10246,33.0,31.0,31.0,32.0,34.0,38.0,40.0,43.0,47.0,51.0,...,28.0,26.0,26.0,27.0,28.0,28.0,29.0,31.0,30.0,7
2627,67.0,64.0,67.0,76.0,86.0,75.0,63.0,57.0,64.0,51.0,...,80.0,78.0,75.0,74.0,74.0,75.0,75.0,76.0,77.0,1

In [2]:
from sklearn.model_selection import train_test_split

X = data.iloc[:, :-1]
y = data['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

del data
del X
del y

In [3]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, classification_report
gnb = GaussianNB()

y_pred = gnb.fit(X_train, y_train).predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.27      0.14      0.18       463
           1       0.25      0.22      0.23       601
           2       0.09      0.83      0.16       134
           3       0.78      0.39      0.52       430
           4       0.77      0.20      0.32       709
           5       0.51      0.44      0.47       683
           6       0.39      0.60      0.47       274
           7       0.10      0.53      0.17        86
           8       0.69      0.11      0.20       710
           9       0.18      0.30      0.22        88

    accuracy                           0.30      4178
   macro avg       0.40      0.38      0.29      4178
weighted avg       0.51      0.30      0.32      4178

In [ ]:
import pandas as pd

data = pd.read_csv('data/x_train_gr_smpl.csv')
labels = pd.read_csv('data/y_train_smpl_0.csv')

data['label'] = labels
data = data.sample(frac=1)

print(data.corr())

# data.head(5)

# from sklearn.model_selection import train_test_split

# X = data.iloc[:, :-1]
# y = data['label']

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

# del data
# del X
# del y

# from sklearn.naive_bayes import GaussianNB
# from sklearn.metrics import confusion_matrix, classification_report
# gnb = GaussianNB()

# y_pred = gnb.fit(X_train, y_train).predict(X_test)

# print(classification_report(y_test, y_pred))